{
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier", "prettier/react"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "globals": {
    "tw": true,
    "__PATH_PREFIX__": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/extensions": "off",
    "linebreak-style": "off",
    "react/no-unescaped-entities": "off",
    "no-warning-comments": "warn",
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "indent": ["error", 2],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "semi": false,
        "printWidth": 120
      }
    ]
  },
  "plugins": ["prettier", "@typescript-eslint"],
  // "settings": {
  //   "import/resolver": {
  //     "node": {
  //       "extensions": [".js", ".jsx", ".ts", ".tsx"]
  //     }
  //   }
  // },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["plugin:@typescript-eslint/recommended", "prettier/@typescript-eslint"]
    }
  ]
}
