html {
  font-size: 18px;
}

::selection {
  color: white;
  background-color: #f6993f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* a::not() {
  cursor: pointer;
} */
